<footer>
    <div class="ui hidden divider"></div>
    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="seven wide column">
                    <h4 class="ui inverted header">Contact</h4>
                    <form class="ui form">
                        <div class="field">
                            <input type="text" name="first-name" placeholder="Adresse Mail">
                        </div>
                        <div class="field">
                            <input type="text" name="last-name" placeholder="Object">
                        </div>
                        <div class="field">
                            <textarea rows="4" placeholder="Votre message ..."></textarea>
                        </div>
                        <button class="ui purple button" type="submit">Submit</button>
                    </form>
                </div>
                <div class="three wide right floated column">
                    <div class="ui hidden divider"></div>
                    <h4 class="ui inverted header">{{ user.firstName }} {{ user.lastName }}</h4>
                    <div class="ui inverted list">
                        <div class="item">{{ user.email }}</div>
                        <div class="item">{{ user.adress }}</div>
                        <div class="item">{{ user.city }}</div>
                        <div class="item">{{ user.country }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>