
{% for project in user.projects %}
    <div class="purple card">
        <div class="blurring dimmable image">
            <div class="ui dimmer">
                <div class="content">
                    <div class="center">
                        <div id="launchModal{{ project.id }}" class="ui inverted purple button">Voir plus</div>
                    </div>
                </div>
            </div>
            <img src="/assets/images/project_images/{{ project.image }}">
        </div>
        <div class="content">
            <a class="header">{{ project.name }}</a>
            <div class="meta">
                <span class="date">{{ project.dateStart | date("d/m/Y") }} - {{ project.dateEnd | date("d/m/Y") }}</span>
            </div>
            <div class="description">
                {{ project.description | slice(0, 120) | raw }} ...
            </div>
        </div>
        <div class="extra content">
            <div>
                {% for techno in project.technos %}
                    <img class="ui mini image" src="{{ techno.logo }}">
                {% endfor %}
            </div>
        </div>
    </div>
{% endfor %}
