<div class="ui grid">
    <div class="four wide column">
        <img class="ui small circular image" src="/assets/images/profilepic.jpg" alt="">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    </div>
    <div class="ten wide column row middle aligned">
        <h2>{{ user.title }}</h2>
        <p>
            {{ user.description }}
        </p>
        <div class="ui grid">
            <div class="five wide column"><i class="map marker icon"></i>{{ user.city }}, {{ user.country }}</div>
            <div class="seven wide column"><i class="at icon"></i>{{ user.email }}</div>
            <div class="four wide column"><i class="birthday cake icon"></i>27 ans</div>
        </div>
    </div>
    <div class="two wide column middle aligned">
        <a href="{{ user.githubAccount }}">
            <i class="github big icon"></i>
        </a>
        <a href="{{ user.linkedinAccount }}">
            <i class="linkedin big icon"></i>
        </a>
    </div>
</div>