<div class="ui grid">
    <div class="four wide column">
        <img class="ui small circular image" src="/assets/images/profilepic.jpg" alt="">
        <h3>{{ user.firstName }} {{ user.lastName }}</h3>
    </div>
    <div class="ten wide column row middle aligned">
        <h2>{{ user.title }}</h2>
        <p>
            {{ user.description }}
        </p>
        <div class="ui grid">
            <div class="four column row">
                <div class="column"><i class="map marker icon"></i> {{ user.city }}, {{ user.country }}</div>
                <div class="column"><i class="at icon"></i> {{ user.email }}</div>
                <div class="column"><i class="phone icon"></i> {{ user.phone }}</div>
                <div class="column"><i class="birthday cake icon"></i></div>
            </div>
        </div>
    </div>
    <div class="two wide column middle aligned">
        <i class="github big icon"></i>
        <i class="linkedin big icon"></i>
    </div>
</div>